/* media query */
/* small screens */
@media (min-width: 48rem) {
    .container {
        max-width: 45rem;
    }
}
/* medium screens */
@media (min-width: 62rem) {
    .container {
        max-width: 60.625rem;
    }
}
/* large screens */
@media (min-width: 75rem) {
    .container {
        max-width: 73.125rem;
    }
}
@media (max-width: 47.9375rem) {
    .d-none {
        display: none!important;
    }
}
@media (max-width: 47.9375rem) {
    .nav-top {
        flex-direction: column;
        align-items: flex-start!important;
        padding: 1.25rem .9375rem!important;
    }
    .nav-top-left-side {
        margin-bottom: 1.25rem;
    }
    .nav-top-middle {
        margin-bottom: 1.875rem;
    }
    .nav-top-middle .name {
        font-size: 1.125rem;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .banner .banner-info {
        text-align: center;
        min-height: 220px!important;
    }
    .banner-info h1 {
        font-size: 2.5rem!important;
    }
    .banner-info h1 + p {
        line-height: 1.4!important;
    }
    :is(.featured, .services, .collections, .sale, .team, .shop-items, .top-tank-t-shirt,
    .contact-us, .checkout-conten, .thanks-for-service) {
        padding: 40px 0!important;
    }
    .shop-heading {
        justify-content: flex-start!important;
        margin: 1.25rem!important;
    }
    .shop-heading > div > select {
        padding: 5px!important;
    }
    .shop-heading > div > select:first-child {
        margin-bottom: .3125rem!important;
    }
    .wrapper .aside {
        width: 80%!important;
    }
    .wrapper .row > div {
        max-width: 20rem!important;
    }
    footer {
        padding: 30px 0!important;
    }
    :is(.services .container .row, .collections .row, .featured .row, .sale .row, footer .row,
    .team .row, .shop-items .wrapper, .shop-items .row, .collection .row, .top-tank-t-shirt .row, .cart-section,
    .cart-total, .coupon, .cart-total > div, .coupon-input, .col-coupon-code) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    :is(.services .container .row .services-info,
    .collection-info, .featured .row > div,
    .sale .row > div:first-child,
    .forth-col img, .team .row > div,
    .wrapper .aside, .t-shirt-img-con,
    .contact-us .row > div
    ) {
        margin: 0 0 1.25rem;
    }
    .cart-total > div  {
        width: 90%!important;
    }
    .cart-total > div a,
    .coupon-input > input:first-child,
    .checkout-btn {
        width: 100%;
    }
    .cart-total > div a:first-child,
    .coupon-input > input:first-child {
        margin-bottom: 10px;
    }
    footer .row > div {
        margin: 0 0 .9375rem;
    }
    .services-info::before {
        font-size: 1.875rem!important;
        left: -30px!important;
        top: -0.9375rem!important;
    }
}
@media (min-width: 47.9375rem) {
    .nav-menu {
        display: none;
    }
}
/*end media */
/* colors */
.icon-color {
    color: #868995;
}
.main-color {
    color: #25262a;
}
.main-border {
    border: 1px solid #dee0e6;
}
.main-border-bottom {
    border-bottom: 1px solid #dee0e6;
}
.secondary-color {
    color: #7971ea;
}
.c-white {
    color: #fff;
}
.bg-white {
    background-color: #fff;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
/*colors*/
/* fonts */
.fs-20 {
    font-size: 1.25rem;
}
.fs-15 {
    font-size: .9375rem;
}
.fs-40 {
    font-size: 2.5rem;
}
.fs-30 {
    font-size: 1.875rem;
}
.fs-32 {
    font-size: 2rem;
}
.fs-18 {
    font-size: 1.125rem;
}
.fs-13 {
    font-size: .8125rem;
}
.fs-14 {
    font-size: .875rem;
}
.fs-12 {
    font-size: .75rem;
}
.fw-500 {
    font-weight: 500;
}
.fw-300 {
    font-weight: 300;
}
.full-w {
    width: 100%;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-align {
    text-align: center;
}
.line-h-1-3 {
    line-height: 1.3;
}
.line-h-1-7 {
    line-height: 1.7;
}
/* fonts */
/* Dimentions */
.w-fit {
    width: fit-content;
}
.m-auto {
    margin: 0 auto;
}
.mb-0 {
    margin-bottom: 0;
}
.pl-10 {
    padding-left: .625rem;
}
.pb-5 {
    padding-bottom: .3125rem;
}
.pr-10 {
    padding-right: .625rem;
}
.pb-20 {
    padding-bottom: 1.25rem;
}
.p-10 {
    padding: .625rem;
}
.p-15 {
    padding: .9375rem;
}
.pl-15-pr-15 {
    padding: 0 .9375rem 0 .9375rem;
}
.pl-20-pr-20 {
    padding: 0 20px 0 20px;
}
.p-20 {
    padding: 1.25rem;
}
.p-40{
    padding: 2.5rem;
}
.pl-20 {
    padding-left: 1.25rem;
} 
.pr-20 {
    padding-right: 1.25rem;
}
.pt-20 {
    padding-top: 1.25rem;
}
.pt-30 {
    padding-top: 1.875rem;
}
.pt-20 {
    padding-top: 1.25rem;
}
.pl-20 {
    padding-left: 1.25rem;
}
.pl-30 {
    padding-left: 1.875rem;
}
.mt-5 {
    margin-top: .3125rem;
}
.mb-30{
    margin-bottom: 1.875rem;
}
.ml-auto {
    margin-left: auto;
}
.ml-10 {
    margin-left: .625rem;
}
.mb-5 {
    margin-bottom: .3125rem;
}
.ml-5 {
    margin-left: .3125rem;
}
.mb-10 {
    margin-bottom: .625rem;
}
.mr-10 {
    margin: 0 .625rem 0 0;
}
.mt-15 {
    margin-top: .9375rem;
}
.mt-10{
    margin-top: .625rem;
}
.mt-20 {
    margin-top: 1.25rem;
}
.mr-ml-15 {
    margin: 0 -0.9375rem 0 -15px;
}
.mr-5 {
    margin-right: .3125rem;
}
.mb-15 {
    margin-bottom: .9375rem;
}
.outline-none {
    outline: none;
}
.mb-20 {
    margin-bottom: 1.25rem;
}
.flex-30 {
    flex: 30%;
}
.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.flex-47 {
    flex: 48%;
}
.flex-50 {
    flex: 50%;
}
.flex-100 {
    flex: 100%;
}
.flex-wrap {
    flex-wrap: wrap;
}
.d-inline-block {
    display: inline-block;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* Dimentions */
